.loader-container {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 100%;
    background-color: rgba(120, 120, 120, 0.8);

    > .loader {
        height: 6.25rem;
        width: 6.25rem;
        border-radius: 50%;
        border: 0.5625rem solid white;
        border-color: white transparent white transparent;
        animation: rotate 1.1s linear infinite;
    }
}

@keyframes rotate {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}
